# Plotting Dyke Thickness vs Length And Histogram

In [84]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import os

In [85]:
os.getcwd()

'/Users/buster/Documents/Projects/Tobias_UA_Visit/SectionsExample'

In [86]:
%ls

P1_sectionsP1Section_10.dat* P1_sectionsP1Section_7.dat*
P1_sectionsP1Section_5.dat*  P1_sectionsP1Section_8.dat*
P1_sectionsP1Section_6.dat*  P1_sectionsP1Section_9.dat*

In [87]:
path='/SectionsExample/' # Text string path to data (keep it nice and clean)
file='P1_sectionsP1Section_10.dat'
data = np.genfromtxt(file,
                     skip_header=1,
                     names=True,
                     dtype=None,
                     delimiter=' ')
data=pd.DataFrame(data)    # values  # 1st row as the column names
data.head()

,5082101589,f0,f1,58999329295,f2,f3,f4,f5,f6,16585244
0,508210.3116,False,False,5.899933e+06,False,False,False,False,False,1658.5810
1,508210.4287,False,False,5.899933e+06,False,False,False,False,False,1658.7647
2,508210.5719,False,False,5.899933e+06,False,False,False,False,False,1658.9045
3,508210.8885,False,False,5.899932e+06,False,False,False,False,False,1659.1771
4,508210.9171,False,False,5.899932e+06,False,False,False,False,False,1659.2210

In [88]:
data=data.drop(["f0","f1","f2","f3","f4","f5","f6"], axis=1)

data.head()

    5082101589   58999329295   16585244
0  508210.3116  5.899933e+06  1658.5810
1  508210.4287  5.899933e+06  1658.7647
2  508210.5719  5.899933e+06  1658.9045
3  508210.8885  5.899932e+06  1659.1771
4  508210.9171  5.899932e+06  1659.2210

In [81]:
data.loc[-1] = ['x', 'y', 'z']  # adding a row
data.index = data.index + 1  # shifting index
data = data.sort_index()  # sorting by index

In [82]:
data.head()

  5082101589  58999329295 16585244
0          x            y        z
1     508210  5.89993e+06  1658.58
2     508210  5.89993e+06  1658.76
3     508211  5.89993e+06   1658.9
4     508211  5.89993e+06  1659.18